// Place all the styles related to the customer/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session1 {
    margin: 0 auto;
  }
  
  .session-customer-show {
    margin: 0 auto;
  }
  
  .user-show {
    width: 500px;
    height: 200px;
  }
  
  .user-show_td {
    width: 150px;
  }
  
  /* customer編集画面 */
  .delete {
    width: 300px;
    margin: 10px 0 0 40px;
  }

.customere-header {
    margin-bottom: 10px;
}

.customer-edit {
    margin-right: 70px;
}

.customere-bottom {
    margin-top: 10px;
}