// Place all the styles related to the customer/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thanks-c {
    text-align: center;
    color: rgb(133, 64, 64);//非対応のブラウザでの文字色を設定
    // background: url(images/satin-nuss.jpg);//使用する背景画像のURL
    // -webkit-background-clip: text;//テキストでくり抜く
    // -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
}


// 情報入力フォーム
.right_bottom {
    text-align: right;
    margin: 20px 0 ;
}
.small_table{
    width:20%;
    margin-left: 700px;
    display: inline-block;

}
.s_table{
    display: inline-block;

}
.shop-btn{
    display: inline-block;
    float: left;
}

.next-btn{
    text-align: center;
    margin: 20px 0;
}


.title-sub h4{
    font-family: 'GenJyuuGothicX';
}

.title h3{
    font-family: 'GenJyuuGothicX';
    font-size:20px;

}

// 注文詳細ページ
.title p{
    font-family: 'GenJyuuGothicX';
    font-size:15px;

}