<div class="container">
    <div class="row">
        <h3>登録情報編集</h3>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <table>
                <%= form_with model: @customer, url: , do |form| %>
                    <tr>
                        <th>
                            <p>名前</p>
                        </th>
                        <td>
                            <p>(姓) <%= f.text_field :family_name %> (名)<%= f.text_field :first_name %></p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>フリガナ</p>
                        </th>
                        
                    </tr>
                    <tr>
                        <th>
                            <p>メールアドレス</p>
                        </th>
                        
                    </tr>
                    <tr>
                        <th>
                            <p>郵便番号(ハイフンなし)</p>
                        </th>
                        
                    </tr>
                    <tr>
                        <th>
                            <p>住所</p>
                        </th>
                        
                    </tr>
                    <tr>
                        <th>
                            <p>電話番号(ハイフンなし)</p>
                        </th>
                        
                    </tr>
            </table>
        </div>
    </div>
</div>