<h3>ジャンル検索</h3>
<% category.each do |category| %>
    <p class="text-danger">
        <%= link_to customer_category_path(category.id) do %>
                <%= category.name %>
    </p>
    <% end %>
<% end %>