<div class="title"><h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span>カテゴリーから探す</h4></div>
<% category.each do |category| %>
    <%# <p class="text-danger"> %>
        <%= link_to customer_category_path(category.id) do %>
                <div class="title"><p><%= category.name %></p></div>
    <%# </p> %>
    <% end %>
<% end %>
