    <div class="btn-stitch new-btn"><%= link_to '新着商品', "", remote: true, id:"newmodal"%>
    </div>

<!-- モーダルエリアここから -->
                <section id="modalArea" class="modalArea">
                <div id="modalBg" class="modalBg"></div>
                <div class="modalWrapper">
                    <div class="modalContents">
                    <h1>この夏限定の新商品 <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h1>
                    <%= image_tag 'recomend_cake.jpg', class:"cake_image" %>
                    <p>フルーツいっぱいのミルクレープが新登場。数量限定となっております。 </p>
                    </div>
                    <div id="closeModal" class="closeModal">
                    ×
                    </div>
                </div>
                </section>
<!-- モーダルエリアここまで -->

<%# モーダルJS %>
<script>
$('#newmodal').click(function(){
      $('#modalArea').fadeIn();
  });
  $('#closeModal , #modalBg').click(function(){
    $('#modalArea').fadeOut();
  });
</script>
<!-- モーダルエリアここまで -->
