

<div class="container">
    <div class="row section1">
        <div class="col-xs-1"></div>
        <div class="col-xs-2"></div>
            
        
            <div class="col-xs-8 message">
               <% @products.each do |product| %>
                   <%= attachment_image_tag product, :product_image, :fill, 100, 100, format: 'jpeg' %>
                   <%= link_to product.name, customer_product_path(product.id) %>
                   <a><%= product.unit_price %>円</a>
               <% end %>
               <%= paginate @products %>
            </div>
    </div>
</div>