<h1>商品一覧</h1>

<%= button_to '',{controller: 'products', action: 'new'},{method: get},{class: } %>

<table>
	<thead>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td>product</td>
			<td><%= link_to product.name, admin_products_show_path(product) %></td>
			<td>product.unit_price</td>
			<td>product.product_category.name</td>
			<td>product.sales_status</td>
		</tr>
	</tbody>
</table>